/*
    Adam Baptista
    10/25/2021

    Styling file for table.html
*/


body {
    padding-top: 30px;
    background-color: skyblue;
}

#div_home {
    margin-top: 40px;
}

#home {
    background-color: steelblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

/*
input styling
*/
form {
    border: 1px solid black;
    border-radius: 5px;
    width: 220px;
    display: block;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: auto;
}

input {
    box-sizing: border-box;
    border: 1px solid steelblue;
    background-color: lightskyblue;
    color: black;
}

input:hover {
    background-color: lightcyan;
}

/*
button styling to make it look nice
*/
button {
    text-align: center;
    background-color: lightskyblue;
    border: 1px solid steelblue;
}

button:hover {
    background-color: lightcyan;
}

button:active {
    background-color: steelblue
}

/*
table stying
*/
#dynamic_table {
    max-width: 500px;
    max-height: 400px;
    overflow: auto; /*allows for scrolling when it goes past the max width and height*/
    display: block;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

table {
    border: black solid;
    background-color: grey;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
}

tr {
    background-color: white;
    border: 1px solid;
    border-radius: 1px;
}

/*
every other not including the first child
*/
tr:nth-child(2n+3) {
    background-color: lightskyblue;
}

/*
Styling for the first column header
*/
th:first-child {
    background-color: black;
    color: white;
    border-radius: 1px;
}

/*
Styling for the first row header
*/
tr:first-child {
    background-color: black;
    color: white;
    border-radius: 1px;
}

/*
Error message styling
*/
em {
    color: red;
}

#validator {
    position: absolute;
    bottom: 0;
}